<!-- Channel -->
<ChatContainer @channel={{this.model}}>
  <ChannelHeader
    @title={{this.model.name}}
    @description={{this.model.description}} />

  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    <Message />
    <Message />
    <Message />
  </div>

  <ChannelFooter />
</ChatContainer>